<div class="card sticky-top">
    <div class="card-header align-items-center">
        <label class="">Listado de productos</label>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of productList">
                    <td>{{ p.name }}</td>
                    <td>{{ p.description }}</td>
                    <td>{{ p.price }}</td>
                    <td>
                        <button mat-icon-button (click)="editProduct(p)" color="primary">
                            <span class="material-icons">
                                edit
                            </span>
                        </button>
                        <button mat-icon-button (click)="deleteProduct(p)" color="warn">
                            <span class="material-icons">
                                delete
                            </span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>