<div class="row g-4">
    <div class="card">
        <div class="card-header align-items-center">
            <label class="">{{ this.formProduct.value.id ? 'Editar' : 'Agregar'}} producto</label>
        </div>
        <div class="card-body">
            <form [formGroup]="formProduct">
                <div class="col-12">
                    <label for="name">Nombre producto</label>
                    <input type="text" formControlName="name" name="name" class="form-control">
                </div>
                <div class="col-12 mt-1">
                    <label for="price">Precio producto</label>
                    <input type="number" formControlName="price" class="form-control">
                </div>
                <div class="col-12 mt-1">
                    <label for="description">Descripción producto</label>
                    <textarea formControlName="description" class="form-control" name="description" id="description"
                        rows="3"></textarea>
                </div>
            </form>
        </div>
        <div class="card-footer d-flex justify-content-center align-items-center">
            <button mat-raised-button class="" (click)="addProduct()" color="accent">
                <span *ngIf="isEdit" class="material-icons">
                    edit
                </span>
                <span *ngIf="!isEdit" class="material-icons">
                    add
                </span>
            </button>
            
            <button mat-raised-button class="ml-1" (click)="cleanForm()" color="warn"><span class="material-icons">
                    delete
                </span></button>
        </div>
    </div>
</div>