<div class="container">

    <div class="card text-center">
        <div class="card-header">
            Login
        </div>
        <div [formGroup]="formLogin" class="card-body">
            <label for="email" class="label-left">Email:</label>
            <input formControlName="email" type="email" class="form-control" placeholder="Ingrese su email">
            <label for="password" class="label-left">Contraseña</label>
            <input formControlName="password" type="password" class="form-control" placeholder="Ingrese su contraseña">
            <button class="btn-block mt-3" color="accent" (click)="loginIn()" mat-flat-button>Ingresar</button>
            <button class="btn-block mt-3" color="primary" (click)="loginInGoogle()" mat-flat-button>Ingresar con google</button>
            <label class="mt-3" for="">Aún no tienes cuenta ? <a class="link" routerLink="/register">Registrate aquí</a></label>
        </div>
    </div>

</div>