<div class="row">
    <div class="col-12 col-sm-8 mt-3">
        <!-- listado de productos -->
        <div class="row g-4">
            <div *ngFor="let p of productList;" class="col-6 col-sm-4 mt-3">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <h4 class="card-title text-bold"> {{ p.name }} </h4>
                            </div>
                            <div class="col-12">
                                <h5 class="card-title"> {{ p.price | currency}} </h5>
                            </div>
                        </div>
                        <div class="row">
                            <button class="btn-block" (click)="newShop(p);" mat-flat-button color="accent">
                                <span class="material-icons">
                                    add
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-4 mt-3">
        <div class="card sticky-top mt-3">
            <div class="card-header align-items-center">
                <label class="">Carrito de compras</label>
            </div>
            <div class="card-body">
                <ul>
                    <li *ngFor="let p of cartProductList;">{{ p.quantity }} - {{ p.name }}</li>
                    <li *ngIf="this.cartProductList.length == 0">Ningun producto para listar</li>
                </ul>
            </div>
            <div class="card-footer">
                <button class="btn-block" (click)="shopNow();" mat-flat-button color="accent">
                    <span class="material-icons">
                        shopping_cart
                        </span>
                </button>
            </div>
        </div>
    </div>
</div>