<mat-toolbar>
    <span class="button-redirect" (click)="redirectTo()">COA Store</span>
    <span class="spacer"></span>
  
    <button  *ngIf="usuarioLoggeado|async as user"  routerLink="/products"  mat-mini-fab>
      <span class="material-icons">
        inventory_2
        </span>
    </button>

    <button  *ngIf="usuarioLoggeado|async as user" routerLink="/shop" class="ml-1"  mat-mini-fab>
      <span class="material-icons">
        shopping_cart
      </span>
    </button>
  
    <button *ngIf="usuarioLoggeado|async as user" (click)="logout()" class="ml-1" mat-mini-fab>
      <span class="material-icons">
        logout
      </span>
    </button>
  
  
  </mat-toolbar>