<div class="row">
    <div class="col-12 col-sm-4 mt-3">
        <app-products [editProduct]="this.productSelect"></app-products>
    </div>
    <div class="col-12 col-sm-8 mt-3">
        <app-cart (editarProducto)="editarProducto($event)"></app-cart>
    </div>
</div>