<div class="container">

    <div class="card text-center">
        <div class="card-header">
            Registro de usuario
        </div>
        <div [formGroup]="formRegistro" class="card-body">
            <label for="email" class="label-left">Email:</label>
            <input formControlName="email" type="email" class="form-control" placeholder="Ingrese su email">
            <label for="password" class="label-left">Contraseña</label>
            <input formControlName="password" type="password" class="form-control" placeholder="Ingrese su contraseña">
            <button class="btn-block mt-3" color="accent" (click)="register()" mat-flat-button>Registrar</button>
            <label class="mt-3" for="">Ya tienes cuenta ? <a class="link" routerLink="/login">Iniciar sesión</a></label>
        </div>
    </div>

</div>